@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

span {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
}

.col-1-1 {
  display: grid;
  grid-auto-flow: row; /* 3 columns, middle one is wider */
  gap: 40px;
  padding: 20px;
}

.col-1-2 {
  display: grid;
  grid-auto-flow: row;
}

.item1,
.item4 {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-2 {
  display: grid;
  grid-auto-flow: column;
  gap: 40px;
  padding: 20px;
}

.item2 {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 2 / span 2;
}

.item3,
.item5 {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item6 {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: span 2 / span 2;
}

.col-3 {
  display: grid;
  grid-auto-flow: column;
  gap: 40px;
  padding: 20px;
}

.item7,
.item8 {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
