@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

span {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: -0.02em;
  line-height: 1;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  background-color: #f2f2f2;
}

.col-1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  padding: 20px;
  width: 260px;
}

.item1,
.item4 {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  gap: 40px;
  max-width: 260px;
}

.item1 span,
.item4 span {
  font-size: 3rem;
}

.item1 {
  background-color: hsl(31, 66%, 93%);
}

.item4 {
  background-color: hsl(39, 100%, 71%);
}

#quicker {
  color: hsl(256, 67%, 59%);
}

.item1 img,
.item4 img {
  width: 75%;
}

.col-2 {
  display: grid;
  grid-auto-flow: row;
  padding: 20px;
  gap: 40px;
}

.col-2-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

.item2 {
  background-color: hsl(256, 67%, 59%);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-column: span 2 / span 2;
  height: 1fr;
  width: 1fr;
  border-radius: 1rem;
}

.item2-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item2 span {
  font-size: 4rem;
  color: #ffffff;
}

#hehe1 {
  color: hsl(39, 100%, 71%);
}

#hehe2 {
  font-size: 1rem;
  font-weight: 300;
}

.item3,
.item5 {
  background-color: #ffffff;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1fr;
  border-radius: 1rem;
}

.item3 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.item5 {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: hsl(39, 100%, 71%);
}

.item5 img {
  width: 100%;
}

.item6 {
  /* width: 200px; */
  background-color: hsl(254, 88%, 90%);
  text-align: start;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 1rem;
  overflow: hidden;
}

.item6 span:first-child {
  font-size: 2rem;
}

.item6 span:last-child {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1.6px;
}

.item6 img {
  /* width: 100%;
  position: absolute;
  left: 0;
  object-fit: contain; */
  width: 200%;
}

/* .col-2-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
} */

.col-2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px;
  /* padding: 20px; */
}

.item7,
.item8 {
  border-radius: 1rem;
}

.item7 {
  background-color: #ffffff;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1fr;
}

.item7 img {
  width: 80%;
}

.item8 {
  background-color: hsl(256, 67%, 59%);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 40px;
}

.item8 img {
  width: 50%;
}
